
//input-fields
$input-fields-border-radius: 3px;
$input-fields-box-shadow: 0 0 0 4px rgba(0,0,0,0.15);

//categories field
$category-width: 444px;
$catgeory-margin: -222px;
$category-title-border: 1px solid #dfdfdf;

//location field
$location-width: 282px;
$location-margin: 16px;
